*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #EFEFEF;
    margin-top: 200px;
}
header{
    text-align: center;
    font-size: 14px;
    margin-bottom: 24px;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

form{
    display: flex;
    width: 30%;
    max-width: 100%;
    margin: 0 auto;
}
form input{
    background-color: #ffffff;
    padding: 8px;
    margin-right: 8px;
    height: 48px;
    margin-bottom: 24px;
    font-size: 24px;
    border: 2px solid #d8d8d8
}
form button{
    background-color:#f0f0f0 ;
    width: 120px;
    height: 48px;
    padding: 2px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #d8d8d8;
    cursor: pointer;
}

ul{
    width: auto;
}

ul li{
    padding: 12px;
    cursor: pointer;
    max-width: 100%;
    list-style: inside;
}

